@font-face {
    font-family: 'Press Start 2P';
    src: url("../resources/PressStart2P-Regular.ttf");
}

body {
    display: block;
    margin: 0 auto;
    background-color: black;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
}

#content {
    position: relative;
    margin-top: 50px;
    color: white;
    display: inline-grid;
    grid-template-columns: 2.9fr 1fr;
}

button {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    font-family: inherit;
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

nav, aside {
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
}

#score, #lives, aside > h2 {
    color: var(--primary-color);
}

#mobile-controls {
    display: none;
}