aside {
    margin-top: 30px;
}

aside .local-score {
    color: var(--primary-color);
}

#status {
    position: absolute;
    bottom: 0;
    font-size: .8em;
}

#status::before {
    content: "⬤";
    color: var(--pseudo-color);
    padding-right: 7px;
}