@keyframes move-mouth {
    0% {stroke-dasharray: 60,100;}
    50% {stroke-dasharray: 80,100; stroke-dashoffset: 0;}
    100% {stroke-dasharray: 60,100;}
}

@keyframes move-pellet {
    0% {left: calc(50% + 40px);}
    100% {left: calc(50% - 15px);}
}

#pac {
    animation: move-mouth;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#pellet {
    position: absolute;
    width: 6px;
    height: 6px;
    left: calc(50% + 40px);
    top: calc(50% + 15px);
    transform: translate(-50%, -50%);
    background-color: white;
    animation: move-pellet;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
}

#loading-svg {
    position: absolute;
    width: 80px;
    height: 82px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}