@media (max-width: 820px) {
    body {
        width: auto;
    }

    #content {
        grid-template-columns: 1fr;
    }

    nav {
        left: 50%;
        transform: translate(-50%, 0);
    }
}