#game-score {
    display: grid;
    text-align: center;
    grid-template-columns: 2fr 1fr 2fr;
}

nav {
    position: absolute;
    overflow-y: hidden;
}

#logo {
    display: block;
    margin: 10px 0 30px;
}

nav button:hover:enabled {
    background-color: black;
    margin-top: -3px;
    margin-bottom: 23px;
}

nav button:disabled {
    cursor: default;
    color: gray;
    border: 1px solid gray;
}

nav label {
    line-height: 2em;
    user-select: none;
}

nav input[type="text"] {
    background-color: transparent;
    width: 45px;
    border: none;
    color: white;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
    font-family: inherit;
}

nav .checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

nav .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

nav .checkbox-container .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #4a4a4a;
    transition: .3s;
}

nav .checkbox-container:hover input ~ .checkbox {
    background-color: #8c8c52;
}

nav .checkbox-container input:checked ~ .checkbox {
    background-color: var(--primary-color);
}

#offline-sound {
    display: none;
    font-size: .8em;
}